MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<dbname>
PORT=5001

GEMINI_API_KEY=
NODE_ENV=development
RENDER_EXTERNAL_URL=
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
